<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">


    <context-param>
        <param-name>name</param-name>
        <param-value>yunshu</param-value>
    </context-param>

    <context-param>
        <param-name>sex</param-name>
        <param-value>male</param-value>
    </context-param>


    <servlet>
        <servlet-name>helloworld</servlet-name>
        <servlet-class>com.wangzhixiong.HelloWorld</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>helloworld</servlet-name>
        <url-pattern>/helloworld.do</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>getRequestInfoServlet</servlet-name>
        <servlet-class>com.wangzhixiong.GetRequestInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getRequestInfoServlet</servlet-name>
        <url-pattern>/getRequestInfo.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getRequestDataServlet</servlet-name>
        <servlet-class>com.wangzhixiong.GetRequestDataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getRequestDataServlet</servlet-name>
        <url-pattern>/getRequestData.do</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>getRequestHeaderServlet</servlet-name>
        <servlet-class>com.wangzhixiong.GetRequestHeaderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getRequestHeaderServlet</servlet-name>
        <url-pattern>/getRequestHeader.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>languageExampleServlet</servlet-name>
        <servlet-class>com.wangzhixiong.LanguageExampleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>languageExampleServlet</servlet-name>
        <url-pattern>/language.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>requestCharacterServlet</servlet-name>
        <servlet-class>com.wangzhixiong.ResponseCharacterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>requestCharacterServlet</servlet-name>
        <url-pattern>/character.do</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>responseByteServlet</servlet-name>
        <servlet-class>com.wangzhixiong.ResponseByteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>responseByteServlet</servlet-name>
        <url-pattern>/byte.do</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>redirectServelt</servlet-name>
        <servlet-class>com.wangzhixiong.RedirectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>redirectServelt</servlet-name>
        <url-pattern>/redirect.do</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>fileDownServlet</servlet-name>
        <servlet-class>com.wangzhixiong.FileDownServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fileDownServlet</servlet-name>
        <url-pattern>/fileDown.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getBaseInfoServlet</servlet-name>
        <servlet-class>com.wangzhixiong.GetBaseInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getBaseInfoServlet</servlet-name>
        <url-pattern>/getBaseInfo.do</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>contextReadInfoServlet</servlet-name>
        <servlet-class>com.wangzhixiong.ContextReadInfoServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>contextReadInfoServlet</servlet-name>
        <url-pattern>/readInfo.do</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>globalContainerServlet</servlet-name>
        <servlet-class>com.wangzhixiong.GlobalContainerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>globalContainerServlet</servlet-name>
        <url-pattern>/global.do</url-pattern>
    </servlet-mapping>
</web-app>